.App {
	height: 85vh;
}

body {
	background-color: rgb(150, 147, 143);
}

.AddForm {
	margin-top: 5em;
	border: 2px gray groove;
}

.AddForm div,
button {
	margin: 5px;
}

.bg-gray {
	background-color: rgb(51, 49, 49);
}

.flex {
	display: flex;
}

.flex-center {
	justify-content: center;
	align-items: center;
}
.-grid {
	display: flex;
	flex-direction: column;
	padding: 1em;

	max-height: 60%;
	overflow-y: scroll;

	border: 2px black groove;
	overflow-x: auto;

	font-size: large;
}

.-row {
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
	transition: 500ms;
}

.-row:hover {
	background-color: rgb(107, 111, 114);
}

.-col {
	display: flex;
	margin: 1px;
	padding: 3px;
	border: 2px black solid;
	min-width: fit-content;
}

.col-0 {
	max-width: fit-content;
}

.col-1 {
	margin-right: 60%;
}

.col-2 {
	width: 50%;
}

.col-3 {
	width: 49%;
}

.col-4 {
	min-width: 100%;
}
